<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/" method="post">
      <input type="text" name="post">
      <input type="submit" value="share">
    </form>
    <div>
      <% @peeps.reverse.each do |peep| %>
      <div>
          <%=peep.post%> | <%= peep.created_at%>
      </div>
      <% end %>
  </body>
</html>
