<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <form action="/" method="post">
        <input type="text" name="post">
        <input type="submit" value="share">
      </form>
    </div>

    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log out">
    </form>

    <h1>Logged in as, <%= current_user.username %></h1>

    <div>
      <% @peeps.each do |peep| %>
    <div>
      <%=  p peep.post %>| <%=  peep.created_at%>
    </div>
     <% end %>
   </div>
 </body>
</html>
