<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/signup" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="something@test.com">

      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="@something">

      <label for="password">Password:</label>
      <input type="password" name="password"
      pattern=".{8,}"
      >

      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
